<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Canvas-Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <canvas #leinwand></canvas>

  <div id="motivAuswahl">

    <p>Was soll gezeichnet werden?</p>

    <ion-radio-group [(ngModel)]="motiv" (ionChange)="onMotivAuswahlGeaendert()">

      <ion-accordion-group>

        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label>Geometrische Grundformen</ion-label>
          </ion-item>
          <div slot="content">
              <ion-radio value="diagonalen">Diagonalen</ion-radio><br/>
              <ion-radio value="kreis"     >Kreis</ion-radio><br/>
              <ion-radio value="dreieck"   >Dreieck (gefüllt)</ion-radio><br/>
              <ion-radio value="rechteck"  >Rechteck</ion-radio>
          </div>
        </ion-accordion>

        <ion-accordion>
          <ion-item slot="header" color="light">
            <ion-label>Grafiken</ion-label>
          </ion-item>
          <div slot="content">
              <ion-radio value="balkendiagramm"   >Balkendiagramm</ion-radio><br/>
              <ion-radio value="vollstaendigGraph">Vollständiger Graph</ion-radio>
          </div>
        </ion-accordion>

      </ion-accordion-group>

    </ion-radio-group>

  </div>

</ion-content>
